$colorFondo: #264653;
$colorLetrasNav_Titulos:#F4A261;
$colorSubs:#E9C46A;
$colorDetalles:#2A9D8F;
$colorTextoLargo: white;

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Merriweather', serif;;
}
body{
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    height: 10%;
    
}
nav{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    background-color: rgba(42, 42, 42, 0.534);
    border-radius: 10px;
    .container-fluid{
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        padding: 0 5% 0 5% ;
        #navbarNavDropdown{
            height: 100%;
            width: 50%;
        }
        .navbar-brand{
            display:flex ;
            align-items: center;
            color: $colorTextoLargo;
            font-size: 28px;
            align-content: center;
            img{
                margin-right: 5px;
            }
        }
        .dropdown-menu{
            background-color: $colorLetrasNav_Titulos;
        }
    }
    .nav-link{
        color: $colorLetrasNav_Titulos;
    }
}
.nav-link:focus, .nav-link:hover{
    color: $colorTextoLargo;
}
.boxRedes{
    
        background-color:rgba(42, 42, 42, 0.534) ;
        height: 10%;
        width: 100%;
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
   a{
    color: $colorTextoLargo;
   }


//landing//
#contenedorLanding{
    height: 100%;
    width: 100%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    .col{
        height: 10%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .subtitulo{
            background-color: rgba(42, 42, 42, 0.534);;
            font-weight: 400;
            color: $colorTextoLargo;
            font-size: 20px;
            padding: 10px;
            margin-bottom: 25px;
            border-radius: 10px;
        }
    }
    #tit_Grande .col{
        height: 10%;
        width: 90%;
        display: flex;
        
    }
   .col{ 
        .contenedorTit{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
          
            .titulo{
                    width: 50%;
                    
                    text-align: center;
                    font-weight: 400;
                    font-size: 42px;
                    color: white; 
                    letter-spacing: 3px;
                    background-color: rgba(42, 42, 42, 0.534);
                    border-radius: 10px;
            }
            h1{
                width:40%;
                background-color: rgba(255, 255, 255, 0.534);
                border-radius: 10px;
                font-weight: 600;
                font-size: 40px;
                text-align: center;
                color: $colorLetrasNav_Titulos;
                text-shadow:2px 2px gray;
            }
        }
   }

}
.container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
   
    
}

.btn-container {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--bg);

	
	&:nth-child(2) {
		--btn-bg: #F4A261;
		
	}
}

button{
    padding: 5px;
	--width: 180px;
	--height: 60px;
	border: 0;
	position: relative;
	min-width: var(--width);
	min-height: var(--height);
	border-radius: var(--height);
	color: #fff;
	font-family: "Montserrat";
	font-weight: bold;
	background: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 1rem;
   a{
    text-decoration: none;
    padding: 5px;
	--width: 180px;
	--height: 60px;
	border: 0;
	position: relative;
	min-width: var(--width);
	min-height: var(--height);
	border-radius: var(--height);
   }
	.text,
	.icon-container {
		position: relative;
		z-index: 2;
	}

	.icon-container {
		--icon-size: 25px;
		position: relative;
		width: var(--icon-size);
		height: var(--icon-size);
		margin-left: 15px;
		transition: transform 500ms ease;

		.icon {
			position: absolute;
			left: 0;
			top: 0;
			width: var(--icon-size);
			height: var(--icon-size);
			transition: transform 500ms ease, opacity 250ms ease;

			&--left {
				transform: translateX(-200%);
				opacity: 0;
			}

			svg {
				width: 100%;
				height: 100%;
				fill: #fff;
                
			}
           
		}
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: var(--btn-bg);
		border-radius: var(--height);
		z-index: 1;
		transition: transform 500ms ease;
	}

	&:hover {
		&::after {
			transform: translateX(65%);
		}

		.icon-container {
			transform: translateX(125%);
			.icon {
				&--left {
					transform: translateX(0);
					opacity: 1;
				}
				&--right {
					transform: translateX(200%);
					opacity: 0;
				}
			}
		}
	}
}
a:hover{
    color: $colorLetrasNav_Titulos;
}
    

.contenedorPartners{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .partners{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            height: 50%;
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                height: 100%;
                width: 100%;
                border-radius: 25%;
            }

        }
       
        
    }
    
}

//SaGa Training Lab//

.sectionTrainning{
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $colorFondo;
    .contenedorPresentacion{
        padding: 20px 0;
        width: 95%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: rgba(255, 255, 255, 0.534);

        .carousel{
            height: 100%;
            width: 30%;
            #carouselExampleSlidesOnly{
                height: 100%;
                width: 100%;
            }
            
        }

       p{
            padding: 10px;
            color: $colorTextoLargo;
            background-color:  rgba(42, 42, 42, 0.534); 
       }
       .contenedorPresMedio{
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .imgPresentacion{
                height: 100%;
                width: 100%;
            }
            button{
                height: 30%;
                width: 10%;
                
                background-color: $colorLetrasNav_Titulos;
                align-items: center;
                border-radius: 8px;
                
                a{
                    height: 30%;
                    width: 10%;
                    font-size: 12px;
                }
            }
            button :hover{
                background-color: $colorTextoLargo;
                color: $colorFondo;
                transition: 1s;
                border-radius: 8px;
                
            }
            .row{
                padding-top: 5px;
                height: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
       .video{
            width: 30%;
            display: flex;
            align-content: center;
        }
    }  
    h2{
        padding: 15px;
        font-weight: 400;
        font-size: 40px;
        text-align: center;
        color: $colorLetrasNav_Titulos;
        text-shadow:2px 2px gray;
    }
    h3{
        padding-top: 15px;
        font-weight: 400;
        font-size: 30px;
        text-align: center;
        color: $colorTextoLargo;
        text-shadow:2px 2px gray;
    }
}
.planesTabletMobile{
    display: none;
}
#contPlanes{
    height: 30%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
    .reservaPlan{
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p{
            font-size: 15px;
            font-weight:400;
            color: $colorTextoLargo;
        }
        button{
            background: $colorDetalles;
            box-shadow: 2px 2px $colorSubs;
        
        }
        button:hover{
            background: $colorTextoLargo;
            color: $colorDetalles;
            transition: 1s;
        }
      
    }
    .planes{
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            background-color: $colorTextoLargo;
            border-color: $colorLetrasNav_Titulos;
            color: $colorFondo;
            text-shadow: 1px 1px $colorLetrasNav_Titulos ;
           
        } 
        ul{
            padding: 10px;
            background-color: #f4a361b0;
        }
        button:hover{
            color: $colorTextoLargo;
            background-color: $colorLetrasNav_Titulos;
            
            transition: 1s;
        }
    }
}

.contenedorMentorias{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid $colorTextoLargo; 
    background-color:rgba(42, 42, 42, 0.534);
    p{
        padding: 5px;
        text-align: justify;
        font-size: 20px;
        font-weight:400;
        color: $colorTextoLargo;
    }
    .fondoMentorias{
        height: 100%;
        display: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
       
        p{
            width: 60%;
            margin: 5px;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.534);
            color: $colorFondo;
            border-radius: 10px;
        }
        .mentorias{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
           h5{
            padding: 5px;
            background:rgba(255, 255, 255, 0.534) ;
           }
            .listaMentorias{
                padding: 5px;
                border: solid $colorTextoLargo;
                border-radius: 10px;
                width: 30%;

                li{
                    border-radius: 18px;
                    margin: 5px;
                }
            }
    
            .contenedorImagenEJ{
                width: 25%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .imagenEJ{
                    height: 48%;
                    width: 100%;
                    img{
                        height: 90%;
                        width: 100%;
                    }
                }
            }
        }
    }
    button{
        background: $colorDetalles;
        box-shadow: 2px 2px $colorSubs;
    
    }
    button:hover{
        background: $colorTextoLargo;
        color: $colorDetalles;
        transition: 1s;
    }
}

// BIOGRAFIA //

.sectionBio{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .contenedorBio{
        width: 30%;
        height: 95%;
        display: flex;
        justify-content: center;
       
    }
}

// RESERVAA // 

.sectionReserva{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/imgReserva/patagonia.jpg);
    background-size: cover;

   
}

// CONTACTO GENERAL//

.contactoGen{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    form{
        width: 30%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: rgba(42, 42, 42, 0.534);
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: 7px;
        input{
            width: 90%;
            height: 10%;

        }
        textarea{
            width: 90%;
            height: 50%;
        }
        h2{
        color: $colorLetrasNav_Titulos;
        font-weight: 400;
        font-size: 30px;
        text-align: center;
        text-shadow:2px 2px gray;
        }
        .contBotonesForm{
            width: 100%;
            height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .botonForm{
            width: 30%;
            height: 90%;
            background-color: $colorLetrasNav_Titulos;
            border-radius: 7px;
        
            }
        }
        


    }

    
}

///////// MEDIA /// 
.sectionMediayUSS{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $colorFondo;

    h5{
        font-weight: 400;
        font-size: 40px;
        text-align: center;
        color: $colorLetrasNav_Titulos;
        text-shadow:2px 2px gray;
    }

    #contenedorMedia{
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: rgba(42, 42, 42, 0.534);
        padding: 10px 20px;
        border-radius: 7px;
        border: solid $colorTextoLargo; 
        #videoUno, #videoDos{
            width: 40%;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
    }
}

    /////// CONTACTO ULTRA SAGA SPORT/////
    .contenedorUSS{
        height: 80%;
        width: 95%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background: rgba(42, 42, 42, 0.534);
        padding: 10px 20px;
        border-radius: 7px;
        border: solid $colorTextoLargo; 
        #contWebUSS{
            height: 100%;
            width: 65%;
            iframe{
                height: 100%;
                width: 100%;
            }
        }
       
        #contTarjetaContacto{
            height: 50%;
            width: 30%;
            background-color: #f4a361d4;
            border-radius: 7px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            h3{
                color: $colorFondo;
                font-weight: 400;
                font-size: 30px;
                text-align: center;
                text-shadow:2px 2px gray;
            } 
           ul{
                
                li{
                    text-align: center;
                    background-color:  rgba(42, 42, 42, 0.534);;
                    padding: 5px;
                    border-radius: 7px;
                    margin: 5px;
                    
                    a{
                        text-decoration: none;
                    }
                }
           } 
              
        }
    }



    ////////////////// RESPONSIVE TABLET ///////////////
    
    @media only screen  and (max-width: 810px)
    {
        /// nav ///
         nav{
            
            .container-fluid{
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                
                
                #navbarNavDropdown{
                    width: 90%;
                    height: 100%;
                
                    ul{
                        align-items: center;
                        
                    }
                    
                }
               
                
            }
            
            
         }
        
        
        /// landing///
        .contenedorPartners{
            .partners{
                
                a{
                    height: 40%;
                    width: 50%;
                    
                }
            }
        }
        /// sagatraining lab////
        .sectionTrainning{
            .contenedorPresentacion{
                
                .carousel{
                  display: none;  
                }
                .contenedorPresMedio{
                    width: 50%;
                    height: 100%;
                    
                    .row{
                        height: 30%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-content: center;
                        
                        
                    }
                }
                .video{
                    width: 40%;
                    height: 100%;
                }
            }
        }

        #contPlanes{
           display: none;
           
        }
        .planesTabletMobile{
            width: 100%;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            
            
            .planBasico,.planPremium{
                padding: 5px;
                margin: 5px;
                width: 95%;
                background:rgba(42, 42, 42, 0.534);
                display: flex;
                flex-direction: column;
                align-items: center;
                border: solid $colorTextoLargo;
                
                ul{
                    
                    width: 80%;
                    background:rgba(255, 255, 255, 0.534) ;
                    border: solid;
                    border-radius: 7px;
                    padding: 5px;

                }
                b{
                    
                    width: 90%;
                    background: $colorLetrasNav_Titulos;
                    color: black;
                    border: solid;
                    border-radius: 7px;
                    padding: 5px;
                }
            }
            .reservaPlan{
                margin: 5px;
                padding: 5px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: rgba(255, 255, 255, 0.534);
                p{
                    width: 80%;
                    font-size: 15px;
                    font-weight:400;
                    color: $colorTextoLargo;
                    text-shadow:1px 1px $colorDetalles;
                    text-align: center;
                }
                button{
                    background: $colorDetalles;
                    box-shadow: 2px 2px $colorSubs;
                
                }
                button:hover{
                    background: $colorTextoLargo;
                    color: $colorDetalles;
                    transition: 1s;
                }
              
            }
        }
        .contenedorMentorias{
            .fondoMentorias{
                
                p{
                    width: 80%;
                }
                .mentorias{
                    flex-direction: column;
                    
                    .listaMentorias{
                        margin: 10px;
                        width: 80%;
                    }

                    .contenedorImagenEJ{
                        width: 100%;
                        flex-direction: row;
                        align-items: center;
                        .imagenEJ{
                            height: 80%;
                            width: 40%;
                        }
                    }
                }
            }


        }

            

        /// bio ///
        .sectionBio{
            background-color: $colorFondo;
        }
        /// contactos///
        .contenedorUSS{
            height: 90%;
            flex-direction: column;
           #contWebUSS{
            height: 70%;
            width: 95%;
           } 
           #contTarjetaContacto{
            height: 20%;
            width: 95%;
            ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
            }
           }
        }

        .contactoGen{
            form{
                width: 60%;
               
            }
        }
        /// 
        /// 
        /// media ///
        .sectionMediayUSS{
            #contenedorMedia{
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
            }
        }
        


    }