* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Merriweather", serif;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 10%;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(42, 42, 42, 0.534);
  border-radius: 10px;
}
nav .container-fluid {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0 5% 0 5%;
}
nav .container-fluid #navbarNavDropdown {
  height: 100%;
  width: 50%;
}
nav .container-fluid .navbar-brand {
  display: flex;
  align-items: center;
  color: white;
  font-size: 28px;
  align-content: center;
}
nav .container-fluid .navbar-brand img {
  margin-right: 5px;
}
nav .container-fluid .dropdown-menu {
  background-color: #F4A261;
}
nav .nav-link {
  color: #F4A261;
}

.nav-link:focus, .nav-link:hover {
  color: white;
}

.boxRedes {
  background-color: rgba(42, 42, 42, 0.534);
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a {
  color: white;
}

#contenedorLanding {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contenedorLanding .col {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contenedorLanding .col .subtitulo {
  background-color: rgba(42, 42, 42, 0.534);
  font-weight: 400;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 10px;
}
#contenedorLanding #tit_Grande .col {
  height: 10%;
  width: 90%;
  display: flex;
}
#contenedorLanding .col .contenedorTit {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#contenedorLanding .col .contenedorTit .titulo {
  width: 50%;
  text-align: center;
  font-weight: 400;
  font-size: 42px;
  color: white;
  letter-spacing: 3px;
  background-color: rgba(42, 42, 42, 0.534);
  border-radius: 10px;
}
#contenedorLanding .col .contenedorTit h1 {
  width: 40%;
  background-color: rgba(255, 255, 255, 0.534);
  border-radius: 10px;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  color: #F4A261;
  text-shadow: 2px 2px gray;
}

.container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-container {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg);
}
.btn-container:nth-child(2) {
  --btn-bg: #F4A261;
}

button {
  padding: 5px;
  --width: 180px;
  --height: 60px;
  border: 0;
  position: relative;
  min-width: var(--width);
  min-height: var(--height);
  border-radius: var(--height);
  color: #fff;
  font-family: "Montserrat";
  font-weight: bold;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
button a {
  text-decoration: none;
  padding: 5px;
  --width: 180px;
  --height: 60px;
  border: 0;
  position: relative;
  min-width: var(--width);
  min-height: var(--height);
  border-radius: var(--height);
}
button .text,
button .icon-container {
  position: relative;
  z-index: 2;
}
button .icon-container {
  --icon-size: 25px;
  position: relative;
  width: var(--icon-size);
  height: var(--icon-size);
  margin-left: 15px;
  transition: transform 500ms ease;
}
button .icon-container .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--icon-size);
  height: var(--icon-size);
  transition: transform 500ms ease, opacity 250ms ease;
}
button .icon-container .icon--left {
  transform: translateX(-200%);
  opacity: 0;
}
button .icon-container .icon svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}
button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--btn-bg);
  border-radius: var(--height);
  z-index: 1;
  transition: transform 500ms ease;
}
button:hover::after {
  transform: translateX(65%);
}
button:hover .icon-container {
  transform: translateX(125%);
}
button:hover .icon-container .icon--left {
  transform: translateX(0);
  opacity: 1;
}
button:hover .icon-container .icon--right {
  transform: translateX(200%);
  opacity: 0;
}

a:hover {
  color: #F4A261;
}

.contenedorPartners {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.contenedorPartners .partners {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedorPartners .partners a {
  height: 50%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedorPartners .partners a img {
  height: 100%;
  width: 100%;
  border-radius: 25%;
}

.sectionTrainning {
  height: 80%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #264653;
}
.sectionTrainning .contenedorPresentacion {
  padding: 20px 0;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.534);
}
.sectionTrainning .contenedorPresentacion .carousel {
  height: 100%;
  width: 30%;
}
.sectionTrainning .contenedorPresentacion .carousel #carouselExampleSlidesOnly {
  height: 100%;
  width: 100%;
}
.sectionTrainning .contenedorPresentacion p {
  padding: 10px;
  color: white;
  background-color: rgba(42, 42, 42, 0.534);
}
.sectionTrainning .contenedorPresentacion .contenedorPresMedio {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sectionTrainning .contenedorPresentacion .contenedorPresMedio .imgPresentacion {
  height: 100%;
  width: 100%;
}
.sectionTrainning .contenedorPresentacion .contenedorPresMedio button {
  height: 30%;
  width: 10%;
  background-color: #F4A261;
  align-items: center;
  border-radius: 8px;
}
.sectionTrainning .contenedorPresentacion .contenedorPresMedio button a {
  height: 30%;
  width: 10%;
  font-size: 12px;
}
.sectionTrainning .contenedorPresentacion .contenedorPresMedio button :hover {
  background-color: white;
  color: #264653;
  transition: 1s;
  border-radius: 8px;
}
.sectionTrainning .contenedorPresentacion .contenedorPresMedio .row {
  padding-top: 5px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.sectionTrainning .contenedorPresentacion .video {
  width: 30%;
  display: flex;
  align-content: center;
}
.sectionTrainning h2 {
  padding: 15px;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #F4A261;
  text-shadow: 2px 2px gray;
}
.sectionTrainning h3 {
  padding-top: 15px;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px gray;
}

.planesTabletMobile {
  display: none;
}

#contPlanes {
  height: 30%;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
}
#contPlanes .reservaPlan {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contPlanes .reservaPlan p {
  font-size: 15px;
  font-weight: 400;
  color: white;
}
#contPlanes .reservaPlan button {
  background: #2A9D8F;
  box-shadow: 2px 2px #E9C46A;
}
#contPlanes .reservaPlan button:hover {
  background: white;
  color: #2A9D8F;
  transition: 1s;
}
#contPlanes .planes {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contPlanes .planes button {
  background-color: white;
  border-color: #F4A261;
  color: #264653;
  text-shadow: 1px 1px #F4A261;
}
#contPlanes .planes ul {
  padding: 10px;
  background-color: rgba(244, 163, 97, 0.6901960784);
}
#contPlanes .planes button:hover {
  color: white;
  background-color: #F4A261;
  transition: 1s;
}

.contenedorMentorias {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid white;
  background-color: rgba(42, 42, 42, 0.534);
}
.contenedorMentorias p {
  padding: 5px;
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
  color: white;
}
.contenedorMentorias .fondoMentorias {
  height: 100%;
  display: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedorMentorias .fondoMentorias p {
  width: 60%;
  margin: 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.534);
  color: #264653;
  border-radius: 10px;
}
.contenedorMentorias .fondoMentorias .mentorias {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.contenedorMentorias .fondoMentorias .mentorias h5 {
  padding: 5px;
  background: rgba(255, 255, 255, 0.534);
}
.contenedorMentorias .fondoMentorias .mentorias .listaMentorias {
  padding: 5px;
  border: solid white;
  border-radius: 10px;
  width: 30%;
}
.contenedorMentorias .fondoMentorias .mentorias .listaMentorias li {
  border-radius: 18px;
  margin: 5px;
}
.contenedorMentorias .fondoMentorias .mentorias .contenedorImagenEJ {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contenedorMentorias .fondoMentorias .mentorias .contenedorImagenEJ .imagenEJ {
  height: 48%;
  width: 100%;
}
.contenedorMentorias .fondoMentorias .mentorias .contenedorImagenEJ .imagenEJ img {
  height: 90%;
  width: 100%;
}
.contenedorMentorias button {
  background: #2A9D8F;
  box-shadow: 2px 2px #E9C46A;
}
.contenedorMentorias button:hover {
  background: white;
  color: #2A9D8F;
  transition: 1s;
}

.sectionBio {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.sectionBio .contenedorBio {
  width: 30%;
  height: 95%;
  display: flex;
  justify-content: center;
}

.sectionReserva {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/imgReserva/patagonia.jpg);
  background-size: cover;
}

.contactoGen {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactoGen form {
  width: 30%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgba(42, 42, 42, 0.534);
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 7px;
}
.contactoGen form input {
  width: 90%;
  height: 10%;
}
.contactoGen form textarea {
  width: 90%;
  height: 50%;
}
.contactoGen form h2 {
  color: #F4A261;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  text-shadow: 2px 2px gray;
}
.contactoGen form .contBotonesForm {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contactoGen form .contBotonesForm .botonForm {
  width: 30%;
  height: 90%;
  background-color: #F4A261;
  border-radius: 7px;
}

.sectionMediayUSS {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #264653;
}
.sectionMediayUSS h5 {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #F4A261;
  text-shadow: 2px 2px gray;
}
.sectionMediayUSS #contenedorMedia {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(42, 42, 42, 0.534);
  padding: 10px 20px;
  border-radius: 7px;
  border: solid white;
}
.sectionMediayUSS #contenedorMedia #videoUno, .sectionMediayUSS #contenedorMedia #videoDos {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorUSS {
  height: 80%;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: rgba(42, 42, 42, 0.534);
  padding: 10px 20px;
  border-radius: 7px;
  border: solid white;
}
.contenedorUSS #contWebUSS {
  height: 100%;
  width: 65%;
}
.contenedorUSS #contWebUSS iframe {
  height: 100%;
  width: 100%;
}
.contenedorUSS #contTarjetaContacto {
  height: 50%;
  width: 30%;
  background-color: rgba(244, 163, 97, 0.831372549);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.contenedorUSS #contTarjetaContacto h3 {
  color: #264653;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  text-shadow: 2px 2px gray;
}
.contenedorUSS #contTarjetaContacto ul li {
  text-align: center;
  background-color: rgba(42, 42, 42, 0.534);
  padding: 5px;
  border-radius: 7px;
  margin: 5px;
}
.contenedorUSS #contTarjetaContacto ul li a {
  text-decoration: none;
}

@media only screen and (max-width: 810px) {
  nav .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  nav .container-fluid #navbarNavDropdown {
    width: 90%;
    height: 100%;
  }
  nav .container-fluid #navbarNavDropdown ul {
    align-items: center;
  }
  .contenedorPartners .partners a {
    height: 40%;
    width: 50%;
  }
  .sectionTrainning .contenedorPresentacion .carousel {
    display: none;
  }
  .sectionTrainning .contenedorPresentacion .contenedorPresMedio {
    width: 50%;
    height: 100%;
  }
  .sectionTrainning .contenedorPresentacion .contenedorPresMedio .row {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
  }
  .sectionTrainning .contenedorPresentacion .video {
    width: 40%;
    height: 100%;
  }
  #contPlanes {
    display: none;
  }
  .planesTabletMobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .planesTabletMobile .planBasico, .planesTabletMobile .planPremium {
    padding: 5px;
    margin: 5px;
    width: 95%;
    background: rgba(42, 42, 42, 0.534);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid white;
  }
  .planesTabletMobile .planBasico ul, .planesTabletMobile .planPremium ul {
    width: 80%;
    background: rgba(255, 255, 255, 0.534);
    border: solid;
    border-radius: 7px;
    padding: 5px;
  }
  .planesTabletMobile .planBasico b, .planesTabletMobile .planPremium b {
    width: 90%;
    background: #F4A261;
    color: black;
    border: solid;
    border-radius: 7px;
    padding: 5px;
  }
  .planesTabletMobile .reservaPlan {
    margin: 5px;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.534);
  }
  .planesTabletMobile .reservaPlan p {
    width: 80%;
    font-size: 15px;
    font-weight: 400;
    color: white;
    text-shadow: 1px 1px #2A9D8F;
    text-align: center;
  }
  .planesTabletMobile .reservaPlan button {
    background: #2A9D8F;
    box-shadow: 2px 2px #E9C46A;
  }
  .planesTabletMobile .reservaPlan button:hover {
    background: white;
    color: #2A9D8F;
    transition: 1s;
  }
  .contenedorMentorias .fondoMentorias p {
    width: 80%;
  }
  .contenedorMentorias .fondoMentorias .mentorias {
    flex-direction: column;
  }
  .contenedorMentorias .fondoMentorias .mentorias .listaMentorias {
    margin: 10px;
    width: 80%;
  }
  .contenedorMentorias .fondoMentorias .mentorias .contenedorImagenEJ {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .contenedorMentorias .fondoMentorias .mentorias .contenedorImagenEJ .imagenEJ {
    height: 80%;
    width: 40%;
  }
  .sectionBio {
    background-color: #264653;
  }
  .contenedorUSS {
    height: 90%;
    flex-direction: column;
  }
  .contenedorUSS #contWebUSS {
    height: 70%;
    width: 95%;
  }
  .contenedorUSS #contTarjetaContacto {
    height: 20%;
    width: 95%;
  }
  .contenedorUSS #contTarjetaContacto ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .contactoGen form {
    width: 60%;
  }
  .sectionMediayUSS #contenedorMedia {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}/*# sourceMappingURL=style.css.map */